@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 241 245 247;
    --border: 215 224 229;
    --card: 249 251 252;
    --notification: 255 59 48;
    --primary: 76 148 171;
    --text: 51 51 51;
  }

  .dark:root {
    --background: 15 37 46;
    --border: 43 74 85;
    --card: 28 51 61;
    --notification: 255 69 58;
    --primary: 104 179 201;
    --text: 228 228 231;
  }
}
