<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.justfortoday.widgets">

    <application>

        <receiver android:name=".IntentionWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/intention_widget_info" />
        </receiver>

        <receiver android:name=".GratitudeWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/gratitude_widget_info" />
        </receiver>


    </application>
</manifest>
